.footer {
    background-color: #ecf0f1;
    padding: 15px;
    text-align: center;
    color: #2c3e50;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .Glink {
    color: #1d4ed8;
    text-decoration: none;
    font-weight: 500;
  }

  .Glink:hover {
    color: #facc15;
  }

  .Glink:visited {
    color: #9333ea; 
  }

  .Glink:active {
    color: #2563eb; 
  }