.footer {
    background-color: #ecf0f1;
    padding: 15px;
    text-align: center;
    color: #2c3e50;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  a.Glink:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
  }
  
  a.GLink:visited {
    color: blueviolet;
    background-color: transparent;
    text-decoration: none;
  }
  
  a.Glink:hover {
    color: burlywood;
    background-color: transparent;
    text-decoration: underline;
  }