/* Created by LimuleSempai : 25/03/25
Modified 1 time by Warnex04 : last 19/04/25
Modified 1 time by LimuleSempai : last 10/05/25

CSS file for index.js
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Keep existing styles below Tailwind directives */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
